.post_item
{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: 10px;
    color: #3e3e3e;
}
a
{
    text-decoration: none;
}
.post_cabecera
{
    width: 100%;
    height: 125px;
    padding: 0 15px;
    box-sizing: border-box;
}
.post_cabecera_arriba
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.post_cabecera_arriba_izq
{
    width: 55px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post_cabecera_arriba_izq img
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.post_cabecera_arriba_der p
{
    margin: 0;
    font-size: 14px;
}
.post_cabecera_arriba_der span
{
    font-size: 12px;
}
.post_cabecera_abajo
{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

.post_imagenes
{
    width: 100%;
    height: 300px;
    background-color: #333;

}
.post_imagenes img
{
    width: 100%;
    height: 100%;
}
.me_gusta_contenedor
{
    width: 100%;
    height: 75px;
    padding: 0 15px;
    box-sizing: border-box;
}
.me_gusta_contenedor_inner
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn_megusta
{
    width: 40px;
    height: 40px;
    background: url("https://static-00.iconduck.com/assets.00/like-icon-2048x1676-wjkvm94s.png") no-repeat center;
    background-size: 24px auto;
    border: none;
}

.comentarios_contenedor
{
    width: 100%;
    height: auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.comentario_item
{
    width: 100%;
    height: auto;
    padding: 10px 15px;
    box-sizing: border-box;
}
.comentario_arriba
{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.comentario_arriba_izq
{
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.comentario_arriba_izq img
{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.comentario_arriba_der p
{
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}
.comentario_arriba_der span
{
    font-size: 11px;
}

.comentario_abajo
{
    width: 100%;
    height: auto;
}
.comentario_abajo p
{
    font-size: 13px;
}